h1{
    color: goldenrod;
}
body{
    padding-top: 50px;
    background-color: aquamarine;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-image: url("images/blackjack.jpg");
    background-size: cover;
    color: aliceblue;
    font-weight: bold;
}

#message-el{
    font-style: italic;

}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
button{
    background-color: goldenrod;
    color: #016f32;
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    
}